* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #001c0d;
}
.entry {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.entry--row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  transition: 0.2s;
}
.entry__input-keys {
  width: 75%;
  height: 90px;
  margin-bottom: 30px;
  padding: 0 10px;
  border: 0;
  outline: 0;
  font-size: 1.5rem;
  background-color: #f7f7f7;
  transition: background-color 0.2s ease-in-out;
}
.entry__btn {
  width: 80px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  outline: 0;
  border: 0;
  background-color: #f7f7f7;
  user-select: none;
  cursor: pointer;
}
.entry__btn:hover {
  background-color: #003f33;
  color: #f7f7f7;
  transition: all 0.2s ease-out;
}
.entry__qrcode-btn {
  border-radius: 5px 0 0 5px;
}
.entry__icon--qr-alert {
  animation: animation 0.5s;
}
.entry__copy-btn {
  border-radius: 0 5px 5px 0;
}
.keyboard {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 5px 0;
  background-color: #004134;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transition: bottom 0.4s;
  user-select: none;
}
.keyboard--hidden {
  bottom: -100%;
}
.keyboard__keys {
  text-align: center;
}
.keyboard__key {
  width: 6%;
  max-width: 90px;
  height: 45px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  margin: 3px;
  padding: 0;
  outline: 0;
  border: 0;
  border-radius: 4px;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.keyboard__key:active {
  background: rgba(255, 255, 255, 0.12);
}
.keyboard__key--wide {
  width: 12%;
}
.keyboard__key--extra-wide {
  width: 36%;
  max-width: 500px;
}
.keyboard__key--active-table::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
}
.keyboard__key--active::after {
  background: #08ff00;
}
.keyboard__key--dark {
  background: rgba(0, 0, 0, 0.25);
}

.modal-backdrop {
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  z-index: 1;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-backdrop__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 350px;
  margin: auto;
  margin-top: 100px;
  padding: 9px 0;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
  animation: animationTop 0.5s;
}
.modal-backdrop--btn {
  outline: 0;
  border: 0;
  border-radius: 3px;
  background-color: #315f56;
  color: #f7f7f7;
  cursor: pointer;
  user-select: none;
}
.modal-backdrop--btn:hover {
  transform: perspective(1000px) translate3d(0, 0, 70px);
}
.modal-backdrop__header {
  width: 100%;
  padding: 8px 15px;
  display: flex;
  justify-content: flex-end;
}
.modal-backdrop__close-btn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 2px;
}
.entry__qrcode-img {
  flex-grow: 2;
  padding: 5px 0;
  user-select: none;
}
.modal-backdrop__footer {
  width: 100%;
  margin: 2px;
  display: flex;
  justify-content: center;
  padding: 8px 15px;
}
.modal-backdrop__copy-btn {
  padding: 9px;
}
.modal-backdrop__copy-btn {
  opacity: 0.7;
}

@keyframes animationTop {
  form {
    margin-top: -300px;
    opacity: 0;
  }
  to {
    margin-top: 100px;
    opacity: 1;
  }
}
@keyframes animationBtn {
  from {
    transform: perspective(1000px) translate3d(0, 0, 0);
  }
  to {
    transform: perspective(1000px) translate3d(0, 0, 70px);
  }
}
